{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <div class="container">
      <form action="{% url 'submit' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Title *</label>
          <input type="text" class="form-control" name="title" placeholder="Enter name of item" required />
        </div>
        <div class="form-group">
          <label for="description">Description *</label>
          <textarea type="description" class="form-control" name="description" aria-describedby="description" placeholder="Enter description of item" required></textarea>
        </div>
        <div class="form-group">
          <label for="category">Category *</label>
          <select class="form-control" name="category" aria-describedby="category" placeholder="Select" required>
            {% for i in categories %}
            <option>{{ i.category }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="price">Starting Bid *</label>
          <input type="price" class="form-control" name="starting_bid" aria-describedby="price" placeholder="Enter Starting Price (Whole Numbers Only)" required>
        </div>
        <div class="form-group">
          <label for="image_url">Image Url (optional)</label>
          <input type="image_url" class="form-control" name="image_url" aria-describedby="image_url" placeholder="https://i.imgur.com/example.jpg">
        </div>
        <button type="submit" name="form" class="btn btn-primary">Submit</button>
      </form>
    </div>
{% endblock %}
